html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
     background: none repeat scroll 0% 0% transparent;
     border: 0pt none;
     font-size: 12px;
     margin: 0pt;
     outline: 0pt none;
     padding: 0pt;
     vertical-align: baseline;
}

article, aside, figure, footer, header, hgroup, nav, section {
     display: block;
}

img, object, embed {
     max-width: 100%;
}

html {
     overflow-y: scroll;
}

ul {
     list-style: none outside none;
}

blockquote, q {
     quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
     content: none;
}

a {
     background: none repeat scroll 0% 0% transparent;
     font-size: 100%;
     margin: 0pt;
     padding: 0pt;
     text-decoration: none;
     vertical-align: baseline;
}

del {
     text-decoration: line-through;
}

abbr[title], dfn[title] {
     border-bottom: 1px dotted #000000;
     cursor: help;
}

table {
     border-collapse: collapse;
     border-spacing: 0pt;
}

th {
     font-weight: bold;
     vertical-align: bottom;
}

td {
     font-weight: normal;
     vertical-align: top;
}

hr {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
     border-style: solid none none;
     border-width: 1px 0pt 0pt;
     display: block;
     height: 1px;
     margin: 0.7em 0pt;
     padding: 0pt;
}

input, select {
     vertical-align: middle;
}

pre {
     white-space: pre-line;
     word-wrap: break-word;
}

input[type="radio"] {
     vertical-align: text-bottom;
}

input[type="checkbox"] {
     vertical-align: bottom;
}

.ie6 input {
     vertical-align: text-bottom;
}

select, input, textarea {
     font: 99% sans-serif;
}

table {
     font-size: inherit;
}

a:hover, a:active {
     outline: medium none;
}

small {
     font-size: 85%;
}

strong, th {
     font-weight: bold;
}

td, td img {
     vertical-align: top;
}

sub, sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
}

sup {
     top: -0.5em;
}

sub {
     bottom: -0.25em;
}

pre, code, kbd, samp {
     font-family: inherit;
}

.clickable, label, input[type="button"], input[type="submit"], button {
     cursor: pointer;
}

button, input, select, textarea {
     margin: 0pt;
}

button {
     overflow: visible;
     width: auto;
}

.ie7 img {
    
}

.ie6 html {
    
}

.clearfix:before, .clearfix:after {
     content: " ";
     display: block;
     height: 0pt;
     overflow: hidden;
}

.clearfix:after {
     clear: both;
}

.clearfix {
    
}

body {
     font: 13px arial;
}

body, select, input, textarea {
     color: #666666;
}

a {
     color: #0074BD;
}

a:hover {
     color: #6699FF;
}

a:link {
    
}

ins {
     background-color: #FCD700;
     color: #000000;
     text-decoration: none;
}

mark {
     background-color: #FCD700;
     color: #000000;
     font-style: italic;
     font-weight: bold;
}

.blue {
     color: #0066A4;
}

.load {
     background-image: url("/content/images/loading.gif");
     background-position: center center;
     background-repeat: no-repeat;
}

body {
     background-color: #005195;
     background-image: url("/content/images/bg.png");
     background-position: center top;
     background-repeat: no-repeat;
}

#wrap {
     margin: 0pt auto;
     width: 960px;
}

.top {
     background-color: #FAFAFA;
     box-shadow: 0pt 9px 15px 0pt rgba(0, 0, 0, 0.53);
     min-height: 102px;
     position: relative;
}

.logo {
     background-image: url("/content/images/logo.png");
     display: inline-block;
     height: 80px;
     width: 190px;
}

.top-left {
     padding-left: 15px;
     padding-top: 12px;
     width: 200px;
}

.top-right {
     float: right;
     height: 102px;
     padding-right: 25px;
     padding-top: 55px;
     position: absolute;
     right: 0pt;
     top: 0pt;
}

.top-right ul {
     height: auto;
     z-index: 10;
}

.top-right ul li {
     display: inline-block;
     float: left;
     margin-left: 20px;
}

.top-right ul li a {
     color: #0074BD;
     float: none;
     font-size: 13px;
     position: relative;
     text-decoration: none;
}

.top-right ul li ul {
     background-color: White;
     border-radius: 4px 4px 4px 4px;
     box-shadow: 0pt 0pt 8px 0pt Gray;
     display: none;
     float: left;
     padding: 10px;
     position: absolute;
}

.top-right ul li:hover ul {
     display: block;
}

.top-right ul li ul li {
     display: block;
     float: none;
     margin-left: 0pt;
     padding: 3px;
}

.top-right ul li ul li:hover {
    
}

.top-right ul li ul li:hover a {
     outline: 1px dotted #666666;
}

.below-menu {
     margin-bottom: 13px;
     margin-top: 13px;
}

.home-bottom-bann {
     float: right;
}

.blue-bg {
     background-color: #0074BD;
}

.blue-color {
     background-color: #0074BD;
}

.white-bg {
     background-color: #FFFFFF;
}

.white-color {
     background-color: #FFFFFF;
}

.shadow-color {
     box-shadow: 0pt 0pt 5px 3px #6E7E98;
}

.link, .open-modal {
     color: #0074BD;
     cursor: pointer;
}

#wait-popup {
    
}

#wait-popup .text {
     background-color: #0074BD;
     border-radius: 3px 3px 3px 3px;
     box-shadow: 0pt 0pt 5px 3px #6E7E98;
     color: #FFFFFF;
     padding: 6px;
}

.mid-links img {
     float: left;
}

.twoColumns {
     background-color: #FFFFFF;
     clear: both;
     display: block;
     overflow-y: hidden;
}

.gray-column {
     background-color: #EEEEEE;
     display: block;
     margin-bottom: -20000px;
     min-height: 140px;
     padding-bottom: 20010px;
     width: 225px;
}

.leftColumn {
     float: left;
}

.rightColumn {
     background-color: #FFFFFF;
     display: block;
     float: right;
     height: 100%;
     width: 735px;
}

.gray-block {
     background-image: url("/content/images/left-sep.png");
     background-position: center bottom;
     background-repeat: repeat-x;
     clear: both;
     display: block;
     min-height: 55px;
     padding: 13px 14px 18px;
}

.clear {
     clear: both;
}

.bottom {
     padding-bottom: 15px;
     padding-top: 10px;
     text-align: center;
}

.bottom img {
    
}

h2 {
     color: #0066A4;
     font-size: 14px;
     margin-bottom: 5px;
}

.font-dark, .leftColumn p, .dark {
     color: #333333;
     line-height: 18px;
}

.font-light, .rightColumn p, .light {
     color: #666666;
}

.font-blue {
     color: #005195;
}

.note {
     background-color: #97BF20;
     color: #FFFFFF;
     font-weight: bold;
     padding: 5px 8px;
}

button {
     background-color: #007ECB;
     border-radius: 6px 6px 6px 6px;
     border: medium none;
     box-shadow: 1px 1px 1px 1px #00578C;
     color: #FFFFFF;
     font-size: 12px;
     font-weight: bold;
     margin-top: 2px;
     padding: 5px;
     text-transform: uppercase;
}

button.green {
     background-color: #97BF20;
     box-shadow: 1px 1px 1px 1px #688416;
}

.transp-text-button {
     background-color: #FFFFFF;
     border-radius: 5px 5px 5px 5px;
     border: 1px inset #FFFFFF;
     height: 26px;
     padding: 5px;
     position: relative;
     width: 97%;
}

.transp-text-button input {
     border: medium none navy;
     font-size: 12px;
     height: 30px;
     left: 3px;
     position: absolute;
     top: 2px;
     width: 88px;
}

.transp-text-button button {
     float: right;
     padding: 6px;
     position: absolute;
     right: 5px;
     top: -4px;
}

img[href] {
     cursor: pointer;
}

img[href]:hover {
     opacity: 0.9;
}

.img-para {
    
}

.img-para img {
     float: left;
     margin-bottom: 1px;
     margin-right: 10px;
}

.img-para div {
     padding: 10px;
}

.padded {
     padding: 10px;
}

.transp-text-button {
     background-color: #FFFFFF;
     border-radius: 5px 5px 5px 5px;
     border: 1px inset #FFFFFF;
     height: 26px;
     padding: 5px;
     position: relative;
     width: 97%;
}

.transp-text-button input {
     border: medium none navy;
     font-size: 12px;
     height: 30px;
     left: 3px;
     position: absolute;
     top: 2px;
     width: 88px;
}

.transp-text-button button {
     float: right;
     padding: 6px;
     position: absolute;
     right: 3px;
     top: 2px;
}

.subCols .subLeft {
     float: left;
     padding: 15px;
     width: 464px;
}

.subCols .subRight {
     float: right;
}

.social-links {
     background-image: url("/content/images/home-social.png");
     background-repeat: no-repeat;
     display: block;
     height: 56px;
     padding: 7px;
     width: 161px;
}

.social-links a {
     display: inline-block;
     height: 43px;
     margin-right: 5px;
     opacity: 0.5;
     width: 43px;
}

.content-padding {
     z-index: 10;
}

.content-padding h2 {
     font-size: 16px;
     margin-bottom: 10px;
}

.content-padding ul {
     list-style: disc outside none;
     padding-left: 14px;
}

.content-padding ul li {
    
}

div.content-padding div.blue a {
     color: inherit;
     text-decoration: none;
}

a.blue {
     font-size: 13px;
     text-decoration: none;
}

.timeline {
     background-image: url("/content/images/timeline.png");
     background-position: 5px 5px;
     background-repeat: no-repeat;
     height: 65px;
     left: 0pt;
     position: relative;
     top: 0pt;
     width: 712px;
     z-index: 20;
}

.timeline div.link {
     display: inline-block;
     height: 65px;
     width: 67px;
}

.timeline a {
     background-color: #2B2A2A;
     border: 5px solid #CCCCCC;
     display: inline-block;
     height: 37px;
     opacity: 0.6;
     width: 49px;
}

.timeline a:hover, .timeline a.active {
     background-color: transparent;
     border-radius: 3px 3px 3px 3px;
     border: 5px solid #0066A4;
     box-shadow: 0pt 0pt 5px 0pt #302F8C;
     opacity: 1;
}

.timeline div.text {
     font-size: 9px;
     overflow-x: hidden;
     padding-left: 5px;
     padding-top: 5px;
}

.timeline-detail {
    
}

.timeline-detail .timeline-item {
     margin-top: 50px;
}

.timeline-detail .year {
     margin-bottom: 15px;
}

.timeline-detail .year .figure {
     display: inline-block;
     font-size: 16px;
     font-weight: bold;
     position: relative;
     vertical-align: top;
     width: 100px;
}

.timeline-detail .year .text {
     display: inline-block;
     width: 550px;
}

.textout {
     text-indent: -1000px;
}

.pad1 {
     padding: 1px;
}

.pad2 {
     padding: 2px;
}

.pad3 {
     padding: 3px;
}

.pad5 {
     padding: 5px;
}

.pad10 {
     padding: 10px;
}

.pad15 {
     padding: 15px;
}

.pad20 {
     padding: 20px;
}

span.CMSListMenuLinkHighlighted {
     color: #CCCCCC;
     font-size: 13px;
     font-weight: bold;
}

.staff-wrap {
    
}

.staff-wrap .staff-item-list {
    
}

.staff-wrap .staff-item-list .staff-item {
     padding: 10px;
     vertical-align: top;
}

.staff-wrap .staff-item-list .staff-item .pic {
     display: inline-block;
     float: left;
     height: 92px;
     margin-right: 20px;
     width: 80px;
}

.staff-wrap .staff-item-list .staff-item .pic img {
     height: 92px;
     width: 80px;
}

.staff-wrap .staff-item-list .staff-item .detail {
     height: 78px;
}

.staff-wrap .staff-item-list .staff-item .detail .head .name {
     display: inline-block;
     font-weight: bold;
}

.dialog {
     display: none;
}

.staff-detail {
    
}

.staff-detail .title {
    
}

.staff-detail .desc {
    
}

.staff-detail .desc .text {
     float: left;
     padding-right: 20px;
     width: 523px;
}

.staff-detail .desc .pic {
     border: 6px solid #CCCCCC;
     float: right;
     padding-top: 4px;
}

.staff-detail .desc .pic img {
    
}

.banner {
     background-image: url("/content/images/home-banner-1.png");
     display: block;
     height: 390px;
     position: relative;
     width: 960px;
}

.banner .link {
     bottom: 0pt;
     cursor: pointer;
     height: 100px;
     position: absolute;
     width: 320px;
}

.banner .link:hover {
     box-shadow: 0pt 0pt 13px 3px #01427A;
}

.banner .left {
    
}

.banner .mid {
     left: 320px;
}

.banner .right {
     left: 640px;
}

.modal {
     cursor: auto;
     display: none;
     max-height: 433px;
     overflow-y: auto;
     padding: 20px;
     text-align: left;
}

.close-modal {
     background-color: DarkGray;
     color: White;
     cursor: pointer;
     padding: 5px;
}

.close-modal:hover {
     background-color: #666666;
     color: White;
}

.icon {
     border: 1px solid #B4B4B4;
     box-shadow: 0pt 0pt 5px 0pt Gray;
     height: 80px;
     padding: 1px;
     width: 70px;
}

.blockUI {
     border-radius: 15px 15px 0px 0px;
     box-shadow: 0pt 0pt 12px 4px #C2BFBF;
}

.hidden {
     display: none;
}

.form-wrap {
    
}

form {
    
}

form .input-field {
     padding-bottom: 5px;
     padding-top: 5px;
     position: relative;
}

form .input-field label {
     display: inline-block;
     position: absolute;
     top: 0pt;
     width: 150px;
}

form .input-field .ctrl {
     display: inline-block;
     padding-left: 150px;
}

form .input-field .ctrl input, form .input-field .ctrl textarea {
     background-color: #F2F2F2;
     border-radius: 4px 4px 4px 4px;
     font-size: 18px;
     height: 22px;
     padding-left: 5px;
     width: 250px;
}

form button {
    
}

form .input-field .ctrl textarea {
     height: 80px;
}

.info-message-style {
     border-radius: 5px 5px 5px 5px;
     box-shadow: 0pt 0pt 19px 3px #2B4F5F;
     color: White;
     padding: 10px;
     position: fixed;
     top: 10px;
}

hr.margin {
     clear: both;
     display: block;
     margin-bottom: 20px;
     margin-top: 20px;
}

.em {
     font-style: italic;
}

.link-list {
    
}

.link-list li {
    
}

.link-list li a {
    
}

a.pdf {
     background-image: url("/content/images/pdf.png");
     background-repeat: no-repeat;
     padding-left: 40px;
}

.picbox {
     margin-top: 13px;
}

.picbox .left {
     float: left;
     width: 490px;
}

.picbox .left .images {
    
}

.picbox .left .images .img-box {
     float: left;
     margin-right: 11px;
}

.picbox .left .images .img-box img {
     height: 164px;
     width: 110px;
}

.picbox .left .images .img-box .text {
     text-align: center;
     width: 110px;
}

.picbox .right {
     float: right;
}

.picbox .right img {
    
}

.search-box {
     border-radius: 5px 5px 5px 5px;
     box-shadow: 0pt 0pt 4px 0pt Silver;
     display: block;
     margin-bottom: 25px;
     padding: 12px;
}

.srch-head {
     font-size: 20px;
     margin-right: 20px;
     position: relative;
     top: 2px;
}

.search-box .srch-heading {
    
}

.search-box .lbl-title {
    
}

.search-box .lbl-topic {
    
}

.search-box #title {
     margin-right: 50px;
     width: 160px;
}

.search-box #topic {
     width: 160px;
}

.item {
     vertical-align: top;
}

.ico {
     background-image: url("/content/images/pdf-ico.png");
     background-repeat: no-repeat;
     display: inline-block;
     height: 44px;
     position: relative;
     width: 39px;
}

.first {
     width: 363px;
}

.second {
     width: 140px;
}

.third {
     width: 115px;
}

.level-1 {
    
}

.level-2 {
    
}

.level-3 {
    
}

.publ-tr {
    
}

.publ-tr td {
     border-bottom: 1px solid Gray;
     padding-bottom: 10px;
     padding-top: 10px;
}

.zero {
     width: 50px;
}
